<div class="flex justify-center w-full mt-10">
    <div class="bg-white p-8 rounded-2xl shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">login</h2>
        <form  [formGroup]="loginForm">

            <!-- Email -->
            <div>
                <mat-form-field class="w-full">
                    <mat-label for="email">Email</mat-label>
                    <input 
                      type="text" 
                      formControlName="email" 
                      matInput 
                      placeholder="Your Email" 
                      required />
                </mat-form-field>
            </div>

            <!-- Password -->
            <div>
                <mat-form-field class="w-full">
                    <mat-label for="password">Password</mat-label>
                    <input 
                       type="password"
                       formControlName="password" 
                        matInput placeholder="Your Password" 
                        required />
                </mat-form-field>
            </div>

            <!-- Submit -->
            <div>
                <button mat-raised-button (click)="login()" [disabled]="loginForm.invalid">Login</button>
            </div>
        </form>
    </div>

</div>